**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.zip
*.bin
**checkpoint_epoch_*.pth
!output/nuscenes_models/transfusion_lidar_carla/pretrained_run/ckpt/checkpoint_epoch_6.pth
version.py
